<div class="row mt-4">
  <div class="col-12 col-lg-2">
    <div class="list-group">
      <a href="admin/events/event/manage" class="list-group-item list-group-item-action">Manage Events</a>
      <a href="admin/events/location/manage" class="list-group-item list-group-item-action">Manage Locations</a>
      <a href="admin/events/theme/manage" class="list-group-item list-group-item-action">Manage Themes</a>
      <!--<a href="admin/events/participants/manage" class="list-group-item list-group-item-action">Manage Participants</a>-->
    </div>
  </div>
</div>
