<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="slider-image" src="https://www.wallpaperup.com/uploads/wallpapers/2014/02/17/257421/1bd4ca017c64a926c910dbc1a2e17f8a-700.jpg" alt="First slide">
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0" *ngIf="latestNews">
  <div class="container">
    <h1 class="display-4">Laatste Nieuws</h1>
    <hr />
    <h4>{{ latestNews.Title }}</h4>
    <p class="lead">{{ shortenDescription(latestNews.Content) }}</p>
    <a href="web/news/{{ latestNews.Id }}" class="btn btn-primary mt-3">Lees meer</a>
  </div>
</div>

<div class="row mt-3 mb-3 ml-3 mr-3" *ngIf="activeEvents">
  <div class="col-12 col-md-6 col-lg-4 mt-2" *ngFor="let event of activeEvents">
    <div class="card">
      <div class="card-header">
        Evenement
      </div>
      <div class="card-body">
        <h5 class="card-title mb-0">{{ event.Name }}</h5>
        <p class="mt-0 mb-0 text-muted">
          {{ removeTimeFromDate(event.EventStartDate) }} tot {{ removeTimeFromDate(event.EventEndDate) }}
        </p>
        <p class="text-danger mt-0 bold">Nog {{ calcDateDifferenceInDays(event.EntryEndDate) }} dagen om jezelf aan te melden!</p>
        <p class="card-text">{{ event.Description }}</p>
        <a href="web/events/{{ event.Id }}" class="btn btn-primary">Bekijk dit Evenement</a>
      </div>
    </div>
  </div>
</div>

